import /init.microtrust.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /first_stage_ramdisk/fstab.mt6768 --late

# We need vold early for metadata encryption
on early-fs
    start vold

on post-fs
    start boot-hal-1-2

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on boot
    start health-hal-2-1
